
/* CSS RESET */

html {
	overflow-y: scroll;
}

@supports (scrollbar-gutter: stable) {
	html {
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, 
picture
 {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

:where(ul, ol) {
  list-style-type: "";
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
    
  html {
    interpolate-size: allow-keywords;
    &:focus-within {
      scroll-behavior: smooth;
    }
  }
}


/* Custom Properties */

:root {
  --bg-color: hsl(210, 20%, 98%);
  --btn-bg-color: hsl(227, 67%, 48%);
  --btn-text-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 20%);
  --form-bg-color: hsl(0, 0%, 100%);
  --input-color: #e5e7eb;
  --color-dark-grey: hsl(219, 17%, 27%);
}

/* General Styles */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Poppins';
  text-align: center;
}

.container {
  width: min(100% - 2rem, 75rem);
  margin-inline: auto;
  padding-block: 20px;
}

.main {
  display: grid;
  gap: 60px;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-heading {
  font-size: 3rem;
  font-weight: 600;
}

.tagline {
  max-width: 65ch;
  font-size: 1.25rem;
  color: var(--color-grey);
}

.logo {
  margin-inline: auto;
}

.form-wrapper {
  padding-inline: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--form-bg-color);
  padding: 20px;
  border-radius: 32px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.label {
  display: block;
  margin-block-end: 10px;
  font-weight: 600;
}

.emailInput {
  border: transparent;
  outline: 1px solid var(--input-color);
  border-radius: 10px;
  padding: 12px;
  background-color: var(--input-color);
  display: inline-block;
  width: 100%;

  &::placeholder {
    text-align: center;
    font-weight: 500;
    color: var(--color-dark-grey);
  }
}

.subscribe-btn {
  display: inline-block;
  border: transparent;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    opacity: .9;
  }
}

.no-spam {
  font-size: .875rem;
}

.author-info {
  margin-block-start: 30px;
}